{% extends 'admin.html' %}
{% block title %}Add Client`s Report{%endblock title%}
{% block content %}
<div class="container">
<form method="POST" class="session-form">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-3">Report Details</legend>
  </fieldset>
    <div id="activities-container">
      {% for report_case in form.report_cases.data %}
      <div class="card mb-3">
        <div class="card-body">
          <div class="mb-3">
            <label for="report_cases-{{ loop.index }}-field_name" class="form-label">Field Name</label>
            <input type="text" class="form-control" name="report_cases-{{ loop.index0 }}-field_name" value="{{ report_case.field_name }}">
          </div>
          <div class="mb-3">
            <label for="report_cases-{{ loop.index }}-report_case" class="form-label">Report Case</label>
            <textarea class="form-control" name="report_cases-{{ loop.index0 }}-report_case">{{ report_case.report_case }}</textarea>
          </div>
        </div>
      </div>
    {% endfor %}
        <div class="text-end">
          <button type="button" class="btn btn-primary" id="add-case" data-field-name="{{ form.report_cases[0].field_name.name }}" data-report-case="{{ form.report_cases[0].report_case.name }}">Add Case</button>
          {{ form.submit(class="btn btn-primary") }}
        </div>
      </div>
</form>
<div class="container">
{% endblock %}
  
{% block scripts %}
<script>
  const activitiesContainer = document.getElementById('activities-container');
  const addCaseButton = document.getElementById('add-case');
  const fieldNameAttr = addCaseButton.dataset.fieldName;
  const reportCaseAttr = addCaseButton.dataset.reportCase;
  let caseIndex = 2;
  
  addCaseButton.addEventListener('click', () => {
    const newReportCaseTemplate = `
      <div class="card mb-3">
        <div class="card-body">
          <div class="mb-3">
            <label for="report_cases-${caseIndex}-field_name" class="form-label">Field Name</label>
            <input type="text" class="form-control" name="report_cases-${caseIndex}-field_name">
          </div>
          <div class="mb-3">
            <label for="report_cases-${caseIndex}-report_case" class="form-label">Report Case</label>
            <textarea class="form-control" name="report_cases-${caseIndex}-report_case"></textarea>
          </div>
        </div>
      </div>
    `;
  
    const newReportCase = document.createElement('div');
    newReportCase.innerHTML = newReportCaseTemplate;
    activitiesContainer.insertBefore(newReportCase, addCaseButton.parentNode);
    caseIndex++;
  });
</script>
{% endblock scripts %}